
/node_modules
/dist

/node_modules/*

nodebook
/notebook/*
/notebook

/__pycache__
/__pycache__/*
*/__pycache__/*
*/__pycache__*


/.ipynb_checkpoints
/.ipynb_checkpoints/*
/notebook/.ipynb_checkpoints


/ultralytics
/ultralytics/*
ultralytics

app.zip

models/checkpoint
models/checkpoint/*
/models/checkpoint
/models/checkpoint/*