flask
Flask-Cors
matplotlib
numpy
opencv-python
pillow
torch
torchvision
tqdm
uvicorn
serverless_wsgi
gunicorn
fastsam @ git+https://github.com/CASIA-IVA-Lab/FastSAM.git
clip @ git+https://github.com/openai/CLIP.git
ultralytics==8.0.100